<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="some_margin">
			<%= link_to "Vocal Base", root_path, class: "brand" %>
			<ul class="nav" style="margin-left: -40px;">
				<li><%= link_to "Upload", upload_path %></li>
				<li><%= link_to "Pesquisa" %></li>
			</ul>

			<div class="pull-right right_nav_part">
				<% if user_signed_in? %>
					<p><%= "Logged in as #{current_user.email}" %></p>
				<% else %>
					<div class="new_session">
						<%= render 'devise/sessions/new' %>
					</div>
					<%= link_to_function "Não é cadastrado?", "#", id: "nao-cadastrado" %>
					<div id="popover-cadastro"><%= render 'devise/registrations/new' %></div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#nao-cadastrado').popover({
		title: '<h2 style="margin: 0px;">Cadastre-se:</h2>',
		html: true,
		content: function() {
			return $('#popover-cadastro').html();
		},
		placement: 'bottom'
	});
</script>